<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/head::head"></head>
  <header th:replace="fragments/header-all::header-all"></header>
  <body>
      <main>
        <div class="">
          <div>
            <div>
                <h3>Ingresar</h3>
              <form th:action="@{/logincheck}" method="post" >
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Contraseña" name="pwd">
                <button type="submit" class="btn btn_primary">Ingresar</button>
              </form>
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
